<!DOCTYPE html>
<html>
    <head>
        <link href="./css/styles.css" rel="stylesheet" >
        <link rel="icon" href="/img/weather2.png">
     </head>

    <body>
        <div class="main-content">
            {{>header}}
         {{>errorMessage}}
        </div>
       
         {{>footer}}
    </body>
</html>