<!DOCTYPE html>
<html>
    <head>
        <link href="./css/styles.css" rel="stylesheet" >
        <link rel="icon" href="/img/weather2.png">
     </head>

    <body>
        <div class="main-content">
        {{>header}}
        <div>
            <img src="/img/weather.png" class="aboutme">
            <p> This site was created by <a href="https://denisabrakaj.vercel.app/" target="_blank"> Denisa Brakaj</a>. 
            It uses data from <a href="https://www.mapbox.com/" target="_blank"> mapbox.com </a>
            and <a href="https://weatherstack.com/" target="_blank"> weatherstack.com</a> </p>
        </div>
        
        </div>
 
         {{>footer}}
    </body>
</html>